/* General Styling */
body { 
font-family: Arial, sans-serif;
margin: 0; 
padding: 0;
background-image:url('../Images/bg-pic.jpg');
}  

header { 
background: black; 
padding: 15px; 
color: white; 
text-align: center; 
}  

nav { 
background: #333; 
padding: 10px; 
text-align: center; 
}  

nav a { 
color: white; 
text-decoration:none;
margin: 0 15px; 
font-size: 18px; 
}  

nav a:hover { 
color: #ffcc00;
}

.container {
width: 90%;
margin:auto; 
padding: 20px; 
}  

.hero { 
background-image:url('../Images/bg-pic.jpg'); 
height: 120px; 
border-radius: 10px;
color:#0000FF;
background-image:url('../Images/image.10.jpg');
}  

.product-grid {
display: inherit; 
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
gap: 20px; 
}  

.product { 
background: white; 
padding: 15px; 
border-radius: 10px; 
box-shadow: 0 0 10px rgba(0,0,0,0.1); 
text-align: center; 
}  

footer { 
background: black; 
color: white; 
text-align: center; 
padding: 15px; 
margin-top: 30px; 
}

.space{
	font-size:30pt;
}

.free{
	font-size:15pt;
}

.oops{
	font-size:40pt;
}
